#
# ViPER Configuration
#

#
# Note: location of data file and config files are changed in 
#       $VIPER_PROP/ViPER_GUI.properties
#

#
# Install directory for ViPER
#
setenv VIPER_HOME "${VIPER_ROOT}/gt"

setenv CLASSPATH "$VIPER_HOME/classes:$VIPER_ROOT/pe/bin/viper-pe.jar:${CLASSPATH}"

#
# Set locations of the properties file - which controls where to
# obtain the data, gtf and where to place dumps among other things 
#
setenv VIPER_PROP "$VIPER_HOME/CONFIG"
setenv VIPER_CFG_PREFS "$VIPER_HOME/CONFIG/gtc-config.n3"
setenv VIPER_DATA_PREFS "$VIPER_HOME/CONFIG/gt-config.n3"
setenv VIPER_BIN "$VIPER_HOME/bin"

#
# Add ViPER to the current path
#
setenv PATH `${PERL_HOME}/perl "${VIPER_ROOT}/scripts/addPath.pl" "PATH" "${VIPER_BIN}"`


