
if ($?VIPER_ROOT == 0 || $?JAVA == 0)  then
        echo "Some Environment variables not set..."
	echo "Please source a viper.config file"
	echo "required variables: VIPER_ROOT, JAVA"
        exit
endif

setenv GTFC_HOME "$VIPER_ROOT/pe"

setenv GTFC_DATA "$GTFC_HOME/data"
setenv GTFC_SRC "$GTFC_HOME/src"
setenv GTFC_BIN "$GTFC_HOME/bin"

setenv PATH `"${PERL_HOME}/perl" "${VIPER_ROOT}/scripts/addPath.pl" "PATH" "${GTFC_BIN}"`

setenv CLASSPATH "$VIPER_ROOT/api/bin/viper-api.jar:${CLASSPATH}"
