
#
# Please source before running graphics creation routines
#


if ($?VIPER_ROOT == 0 || $?PERL_HOME == 0)  then
        echo "Some Environment variables not set..."
	echo "Please source a viper.config file"
	echo "required variables: VIPER_ROOT, PERL_HOME, TKL_HOME"
        exit 
endif



setenv SCRIPTS_HOME ${VIPER_ROOT}/scripts/

set path = (${SCRIPTS_HOME} $path)
