#
# These environment variables are used by FilterOverlayRaw and is children
#    various files
#

#
# Image Location
#
#setenv IMGPATH /fs/orion4/LAMP/ViPER-Data/FaceTextDB/JPG



#
# GTF Files
#
setenv GTFPATH /fs/orion4/LAMP/ViPER-Data/FaceTextDB/GTF-TEXT
setenv GTFFLAG 1

#
# RDF Files
#
setenv RDFPATH /fs/orion4/LAMP/ViPER-Data/FaceTextDB/UMD_RESULTS/TEXT2/RDF/
setenv RDFFLAG 1

#
# RAW Files Base Directory
#

setenv RAWPATH /fs/orion4/LAMP/ViPER-Eval/UMD/UMDResults/


#
# Output Image Destination
#
#setenv IMGDESTDIR /fs/orion3/LAMP/viper-tmp/GTF-TEXT-OVERLAY-RAW/


#
# Location of Scripts
#
setenv OVERLAYPATH /fs/orion4/LAMP/ViPER-Scripts/FrameOverlay

set path = ($OVERLAYPATH $path)



