#
# These environment variables are used by FilterOverlayRaw and is children
#    various files
#

setenv DRYNAME SRI

#
#
#

setenv IMGSRCDIR /fs/lamp/Projects/VACE/Evaluations/DryRun/DATA

#
# GTF Files
#
setenv GTFFLAG 1
setenv GTFFILE all.gtf
setenv GTFPATH /fs/lamp/Projects/VACE/Evaluations/DryRun/GTF
setenv GTFATTR LOCATION
setenv GTFATTRTYPE OBOX


#
# RDF Files
#

setenv RDFFLAG 1
setenv RDFFILE all.rdf
setenv RDFPATH /fs/lamp/Projects/VACE/Evaluations/DryRun/RUNS/$DRYNAME/RDF
setenv RDFATTR bounding_box
setenv RDFATTRTYPE BBOX

#
# RAW Files Base Directory
#

setenv RAWFILE all-dice.raw
setenv RAWPATH /fs/lamp/Projects/VACE/Evaluations/DryRun/RUNS/$DRYNAME/Results


#
# Output Image Destination
#
setenv IMGDESTDIR /fs/lamp/Projects/VACE/Evaluations/DryRun/OVERLAYS/$DRYNAME


#
# Location of Scripts
#
setenv OVERLAYPATH /fs/orion4/LAMP/ViPER-Scripts/FrameOverlay

set path = ($OVERLAYPATH $path)



